"(ns acme.events.methods\n  (:require [acme.events.multi :as multi]))\n\n(defmethod multi/handle-event :created\n  [subject]\n  (throw\n   (ex-info \"not-implemented\"\n            {:formula :multi-dispatch :variant :created :subject subject})))\n\n(defmethod multi/handle-event :deleted\n  [subject]\n  (throw\n   (ex-info \"not-implemented\"\n            {:formula :multi-dispatch :variant :deleted :subject subject})))\n"
