"(ns acme.events.schema\n  (:require [malli.core :as m]\n            [malli.generator :as mg]\n            [malli.registry :as mr]))\n\n(def value-object-schemas\n  (array-map\n   :acme.events/kind :keyword))\n\n(def value-object-dependencies\n  #:acme.events{:kind #{}})\n\n(def value-object-load-order\n  [:acme.events/kind])\n\n(def value-object-registry\n  (mr/composite-registry\n   (m/default-schemas)\n   value-object-schemas))\n\n(defn- value-object-schema\n  [form]\n  (m/schema form {:registry value-object-registry}))\n\n(defn- value-object-generator\n  [form]\n  (mg/generator (value-object-schema form)))\n\n(def registry value-object-registry)\n\n(defn schema\n  [form]\n  (m/schema form {:registry registry}))\n\n(defn validate\n  [form value]\n  (m/validate form value {:registry registry}))\n\n(defn generator\n  [form]\n  (mg/generator (schema form)))\n\n(defn generate\n  ([form]\n   (mg/generate (schema form)))\n  ([form options]\n   (mg/generate (schema form) options)))\n"
