[[:agent-type {}]
 [:description {}]
 [:system-prompt {}]
 [:source {}]
 [:tools {}]
 [:disallowed-tools {}]
 [:model {}]
 [:max-turns {}]
 [:hooks {}]
 [:mcp-servers {}]
 [:skills {}]
 [:filename {}]
 [:base-dir {}]
 [:spawn-mode {}]
 [:hivemind-role {}]]
