{:def-plus-caller
 {:ok true,
  :ops
  [{:variant :patch/replace-form, :qn "a.b/uses", :new-body "(foo)"}
   {:variant :patch/replace-form,
    :qn "a.b/bar",
    :new-body "(defn foo [] 1)"}]},
 :nested-ns
 {:ok true,
  :ops
  [{:variant :patch/replace-form,
    :qn "x.y.z/new-fn",
    :new-body "(defn old-fn [] :ok)"}]},
 :single-def
 {:ok true,
  :ops
  [{:variant :patch/replace-form,
    :qn "a.b/bar",
    :new-body "(defn foo [] 1)"}]}}
