{:alias "daemon-scoring",
 :requires-added ["hive-mcp.emacs.daemon-store"],
 :requires-removed ["hive-mcp.emacs.daemon-store"],
 :skipped [],
 :ops
 [{:op-kind :add-require,
   :file "/virt/src/hive_mcp/emacs/daemon_store.clj",
   :caller "hive-mcp.emacs.daemon-store",
   :ns "hive-mcp.emacs.daemon-scoring",
   :as "daemon-scoring"}
  {:op-kind :remove-require,
   :file "/virt/src/hive_mcp/emacs/daemon_store.clj",
   :caller "hive-mcp.emacs.daemon-store",
   :ns "hive-mcp.emacs.daemon-selection"}]}
