{:callees-miss
 [{:node "b", :relation :refines, :confidence 0.9, :edge-id "e1"}
  {:node "b", :relation :depends-on, :confidence 0.7, :edge-id "e2"}],
 :callers-hit
 [{:node "a",
   :relation :refines,
   :confidence 0.9,
   :edge-id "e1",
   :file "src/a.clj",
   :line 5,
   :qn "ns/a"}
  {:node "z", :relation :depends-on, :confidence 0.7, :edge-id "e2"}],
 :empty-rows [],
 :nil-locator
 [{:node "a", :relation :refines, :confidence 0.9, :edge-id "e1"}
  {:node "z", :relation :depends-on, :confidence 0.7, :edge-id "e2"}]}
