{:aliased
 {:qn "a.ns/g",
  :file "/p/a.clj",
  :name "foo",
  :ref-to "t.ns",
  :kind :reference,
  :line 5,
  :col 2,
  :alias "al"},
 :blank-from-var
 {:qn "a.ns",
  :file "/p/a.clj",
  :name "foo",
  :ref-to "t.ns",
  :kind :reference,
  :line 9,
  :col 4,
  :top-level? true},
 :body
 {:qn "a.ns/g",
  :file "/p/a.clj",
  :name "foo",
  :ref-to "t.ns",
  :kind :reference,
  :line 5,
  :col 2,
  :arity 1},
 :top-level
 {:qn "a.ns",
  :file "/p/a.clj",
  :name "foo",
  :ref-to "t.ns",
  :kind :reference,
  :line 3,
  :col 1,
  :top-level? true}}
