{:all-hit
 {:total 3,
  :chunks-indexed 0,
  :total-indexed 0,
  :hit-qnames ["a.ns/f" "a.ns/g" "a.ns/h"],
  :miss-qnames [],
  :stats {:hits 3, :misses 0}},
 :all-miss
 {:total 3,
  :chunks-indexed 1,
  :total-indexed 3,
  :hit-qnames [],
  :miss-qnames ["a.ns/f" "a.ns/g" "a.ns/h"],
  :stats {:hits 0, :misses 3}},
 :empty
 {:total 0,
  :chunks-indexed 0,
  :total-indexed 0,
  :hit-qnames [],
  :miss-qnames [],
  :stats {:hits 0, :misses 0}},
 :mixed-1-hit
 {:total 3,
  :chunks-indexed 1,
  :total-indexed 2,
  :hit-qnames ["a.ns/f"],
  :miss-qnames ["a.ns/g" "a.ns/h"],
  :stats {:hits 1, :misses 2}}}
